.icon-right {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../images/right.svg");
}
